<!DOCTYPE html>

<html lang="en"><title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">

<body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
            <div class="header">
                <br>
                <br>
                <h2 class="profile-name">Hi there! 👋</h2>

                <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
                    <ul class="pure-menu-list">
                        
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                        <li class="pure-menu-item"><a href="/writings" class="pure-menu-link">Writings</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="content">
        
                {{ content }}
           
            </div>

        </div>
    </main>
  </body>

</html>
