<!DOCTYPE html>

<html lang="en"><title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">

<body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          
            <div class="header">
                {% if page.writing != true %}
                <h2 class="profile-name">imfery</h2>
                <br>
                <br>
                <span style="display:block;">{{page.message}}</span>
                <br>
                <br>
                {% endif %}
                
                <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
                    <ul class="pure-menu-list">
                        
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                        <li class="pure-menu-item"><a href="/writings" class="pure-menu-link">Writings</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="content">
        
                {{ content }}
           
            </div>

            <div class="footer">
                <h2 class="profile-name">Some playlists</h2>
                {% if page.type == 'home' %}
                    {% raw %}
                        <iframe style="border-radius:12px;padding-top:4px;padding-bottom:4px;" src="https://open.spotify.com/embed/playlist/2F5qlQqMfkU1nxVHFTU3A1?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                
                        <iframe style="border-radius:12px;padding-top:4px;padding-bottom:4px;" src="https://open.spotify.com/embed/playlist/706rmJfw1AlhMIjtMavW7O?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        
                        <iframe style="border-radius:12px;padding-top:4px;padding-bottom:4px;" src="https://open.spotify.com/embed/playlist/3MUu26ycLV7Mt0R0OC3IkG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    
                        <iframe style="border-radius:12px;padding-top:4px;padding-bottom:4px;" src="https://open.spotify.com/embed/playlist/2MaXP1z2AEoL9j1mlRbSKw?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    {% endraw %}
                {% endif %}
                
            </div>

        </div>
    </main>
  </body>

</html>
